body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 24px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}

24body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline;
}

.adoption-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}

.cat-section,
.dog-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    max-width: 550px;
    max-height: 500px;
    background-color: #194769;
}

img,
{
    border: 1px solid black;
}

dt,
span {
    color: white;
    font-size: 18px;
}

.dog,
.cat {
    padding: 20px;
}

.dog-header,
.cat-header {
    display: inline-block;
}